annotated-types==0.5.0
anyio
click
colorama
cramjam
fastapi
fastparquet
fsspec
h11
idna
joblib
numpy
packaging
pandas
pydantic
pydantic_core
python-dateutil
pytz
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
uvicorn
